.nextflow.log*
myconfig
nextflow
*_s?*
analysis
work
locii_input_file.tsv
run_pipeline.log
run_pipeline.sh
.nextflow
run_addloci.log
run_addloci.sh 
work_addLoci 
analysis_addLoci_2022_02_03
intake_bams/
coverage/
coverage-post/
steps.info
analysis_recover/
bin/prepManifest.py
cnv-paired/
coverage-paired/
crest-post/
crest-sclips/
crest/
run_recover.log
run_recover.sh
snv-germline/
snv-paired/
t.py
test.nf
test/
work_recover/
README
analysis_addLoci_2022_04_03/
bedFile_regionsToAdd.bed
compareInOut.sh
indata
locii_input_file.tsv_recover
onlyIN_indata
onlyIN_outdata
outdata
regions_toADD
run_addloci.sh
t
validate.py
work_addLoci/
work_addLoci_04_03/
analysis_addLoci_2022_04_07/
work_addLoci_04_07/
analysis_2022_04_07/
work_2022_04_07/
map_to_hg38
analysis_recover_2022_03_28/
analysis_recover_2022_04_15/
work_recover_2022_04_15/
analysis_2022_04_14/
analysis_2022_5_3/
t.sh
test_getting_mates/
ttry.bam
work_2022_04_14/
work_2022_5_3/
analysis_addLoci_2022_5_3_wrong/
test_hg38_minibams/
work_addLoci_05_05/
analysis_2022_6_23/
analysis_2022_6_23_s/
dag_entire/
events_by_leveragingTables_crestEvents.tsv
events_leveragingTables/
find_test
get_events.py
get_missing_events_new.py
issues
locii_input_file_excludingLargeEvents.tsv
locii_input_file_records
locii_input_file_records_dedup
locii_input_file_records_dedup_crest
locii_input_file_records_dedup_howIgot
locii_input_file_uniq.tsv
missing_from_pipeline.tsv
modules/get_events_loci_wf_try.nf
modules/get_events_loci_wf_tt.nf
modules/get_valid_clean_manifest_wf.nf
modules/post_validation_wf.nf
note_how_to
recover_test/
recover_test2/
templates/
work_2022_6_23/
bin/prepManifest_new.py
work_2022_7_14/
.idea
