profiles{

    lsfCluster {
        process {
            executor = 'lsf'
            queue = 'compbio_auto'

            withLabel: 'io_limited' {
                cpus = 1
                memory = 4.GB
            }
            withLabel: 'io_mem' {
                cpus = 1
                memory = 8.GB
            }
            withLabel: 'multithread' {
                cpus = 8
                memory = 40.GB
            }
        }
        // docker {
        //    enabled = true
        // }
        singularity {
            enabled = true
            cacheDir="/home/ralsalla/"
            autoMounts = true // may need to be false depending on exactly how singularity is set up
        }

    } // end lsf profile

}
